* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body { padding: 40px; }

.adv-form { background: #ececec; border: 1px solid white; border-radius: 10px; box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.29); padding-bottom: 8px; margin-bottom: 30px; font-family: "PT Sans"; font-size: 18px; }

.adv-form_small { width: 312px; }

.adv-form_big { width: 726px; }

.adv-form__header { margin: -1px -1px 0; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7aa9bf), color-stop(100%, #6659b0)); background-image: -webkit-linear-gradient(#7aa9bf, #6659b0); background-image: -moz-linear-gradient(#7aa9bf, #6659b0); background-image: -o-linear-gradient(#7aa9bf, #6659b0); background-image: linear-gradient(#7aa9bf, #6659b0); padding: 18px; font-weight: bold; color: #ebebeb; text-shadow: 0px -1px 0px black; border-radius: 10px 10px 0 0; margin-bottom: 8px; }

.adv-form__row { padding: 10px 18px; }
.adv-form__row label { display: block; margin-bottom: 2px; }
.adv-form__row input[type="text"], .adv-form__row input[type="password"] { background: white; border: none; box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.48); font-size: 18px; padding: 10px; }

.adv-form__row_with-border { border-top: 1px solid #c2c2c2; margin: 10px 18px; padding: 13px 0 0; }

.adv-form__row_with-icons { margin-bottom: -6px; }

.adv-form__fullinp { margin: 0 20px 0 0; }
.adv-form__fullinp input { width: 100%; }

.adv-form__btn { border: 1px solid #c2c2c2; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(6%, #eae9e9), color-stop(100%, #bebebe)); background-image: -webkit-linear-gradient(#ffffff 0%, #eae9e9 6%, #bebebe 100%); background-image: -moz-linear-gradient(#ffffff 0%, #eae9e9 6%, #bebebe 100%); background-image: -o-linear-gradient(#ffffff 0%, #eae9e9 6%, #bebebe 100%); background-image: linear-gradient(#ffffff 0%, #eae9e9 6%, #bebebe 100%); width: 278px; padding: 10px 0; color: #fd866b; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.82); border-radius: 2px; cursor: pointer; font-size: 30px; font-family: "PT Sans"; font-weight: bold; }

.soc-icons { display: inline-block; vertical-align: top; margin-left: 17px; }

.soc-icons__icon { width: 70px; height: 71px; margin-left: 4px; display: inline-block; }

.fb-icon { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -774px no-repeat; width: 70px; height: 71px; }
.fb-icon:hover { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -258px no-repeat; width: 70px; height: 71px; }

.rss-icon { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -430px no-repeat; width: 70px; height: 71px; }
.rss-icon:hover { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -86px no-repeat; width: 70px; height: 71px; }

.tw-icon { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -688px no-repeat; width: 70px; height: 71px; }
.tw-icon:hover { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -172px no-repeat; width: 70px; height: 71px; }

.gp-icon { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -516px no-repeat; width: 70px; height: 71px; }
.gp-icon:hover { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -602px no-repeat; width: 70px; height: 71px; }

.db-icon { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 -344px no-repeat; width: 70px; height: 71px; }
.db-icon:hover { background: url('../img/icons/soc_icons-s4f7418566b.png') 0 0 no-repeat; width: 70px; height: 71px; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: white; text-shadow: 0 -1px 0 black; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
