//for better presentation
body
  padding: 40px
////////////
$icons: sprite-map("icons/soc_icons/*.png", $spacing: 15px)

.adv-form
  background: #ececec
  border: 1px solid #ffffff
  border-radius: 10px
  box-shadow: 1px 1px 20px rgba(0,0,0,.29)
  padding-bottom: 8px
  margin-bottom: 30px
  font:
    family: 'PT Sans'
    size: 18px
.adv-form_small
  width: 312px
.adv-form_big
  width: 726px
.adv-form__header
  margin: -1px -1px 0
  +background-image(linear-gradient(#7aa9bf, #6659b0))
  padding: 18px
  font-weight: bold
  color: #ebebeb
  text-shadow: 0px -1px 0px #000000
  border-radius: 10px 10px 0 0
  margin-bottom: 8px
.adv-form__row
  padding: 10px 18px
  label
    display: block
    margin-bottom: 2px
  input[type="text"],
  input[type="password"]
    background: #ffffff
    border: none
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.48)
    font-size: 18px
    padding: 10px
.adv-form__row_with-border
  border-top: 1px solid #c2c2c2
  margin: 10px 18px
  padding: 13px 0 0
.adv-form__row_with-icons
  margin-bottom: -6px
.adv-form__fullinp
  margin: 0 20px  0 0
  input
    width: 100%
.adv-form__btn
  border: 1px solid #c2c2c2
  +background-image(linear-gradient(#ffffff 0%, #eae9e9 6%, #bebebe 100%))
  width: 278px
  padding: 10px 0
  color: #fd866b
  text-shadow: 0px 1px 1px rgba(255,255,255, .82)
  border-radius: 2px
  cursor: pointer
  font:
    size: 30px
    family: "PT Sans"
    weight: bold
.soc-icons
  display: inline-block
  vertical-align: top
  margin-left: 17px
.soc-icons__icon
  width: 70px
  height: 71px
  margin-left: 4px
  display: inline-block
@each $soc_item in fb, rss, tw, gp, db
  .#{$soc_item}-icon
    +s(#{$soc_item})
    &:hover
      +s(#{$soc_item}_active)
